*,
::before,
::after {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}

html {
    // 1rem = 10 on most browsers
    font-size: 62.5%;
}

body {
    // body font size 16px on most browsers
    font-size: 1.6rem;
    margin: 25px 25px 100px;
    overflow-x: hidden;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
    ul {
        padding-left: 2rem;
    }
}

.list-inline {
    padding-left: 0;
    li {
        display: inline-block;
    }
}

#site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 6rem;
    @media screen and (min-width: 1100px) {
        flex-wrap: nowrap;
    }
}

nav {
    order: 1;
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    margin-top: 40px;
    @media screen and (min-width: 1100px) {
    flex: 1 0 0;
        order: 0;
        margin: 0 20px;
    }
}
#tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    > * {
        margin: 0.2rem;
    }
    @media screen and (min-width: 1100px) {
        margin: 0 20px;
    }
}

#page-title {
    white-space: nowrap;
    font-size: 1.4rem;
    @media screen and (min-width: 840px) {
        margin: 0 20px;
        font-size: 3.6rem;
    }
}

.m-0 {
    margin: 0;
}

.px-2 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.rfs-1 {
    font-size: 1em;
}

.fw-normal {
    font-weight: normal;
}

.tag-list * {
    margin: 0.2rem 0.2rem !important;
}

#orderby {
    margin-bottom: 3rem;
}
.orderby-label {
    margin-right: 1.5rem;
}

input,
textarea {
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 2rem;
}
