.container {
    margin: 0 auto;
    max-width: 1400px;
    @media screen and (min-width: 580px) {
        padding: 0 6rem;
    }

}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 6rem;
    @media screen and (min-width: 840px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}
