@use '../variables' as *;

.lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    display: none;
    transform: scale(0);
    z-index: 9999;
    padding: 5rem 0 8rem;
    &.visible {
        display: flex;
        transform: scale(1);
    }
    img, video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }
    @media screen and (max-width: 1200px) and (orientation: portrait) {
        flex-wrap: wrap;
        padding: 0;
    }
}
.lightbox-placeholder {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    z-index: 1;
    @media screen and (max-width: 1200px) and (orientation: portrait) {
        padding: 12rem 0;
    }
}
.lightbox-title {
    color: $color-primary;
    text-align: center;
    @media screen and (max-width: 1200px) and (orientation: portrait) {
        position: absolute;
        top: 0;
        left: 20px;
    }
}
.lightbox-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out;
    border-radius: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    &:hover {
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
        transform: translate(-4px, -4px);
    }
    @media screen and (max-width: 1200px) and (orientation: portrait) {
        width: 3rem;
        height: 3rem;
    }
}
.commands-left,
.commands-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 10rem;
    margin: 0 5rem;
    @media screen and (max-width: 1200px) and (orientation: portrait) {
        order: 1;
        position: absolute;
        z-index: 10000;
        bottom: 1rem;
        margin: 0;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 1200px) and (orientation: portrait) {
    .commands-left {
        width: 50%;
        left: 0;
        flex-direction: row;
    }
    .commands-right {
        width: 50%;
        right: 0;
        flex-direction: row-reverse;
    }
}
.btn-close {
    width: 10rem;
    height: 10rem;
    top: 5rem;
    right: 5rem;
    position: absolute;
    z-index: 10000;
    @media screen and (max-width: 1200px) and (orientation: portrait) {
        top: 1rem;
        right: 1rem;
    }
}
.btn-previous,
.btn-next {
    flex: 0 0 10rem;
    width: 10rem;
    height: 10rem;
    @media screen and (max-width: 1200px) and (orientation: portrait) {
        margin: 0 2.5rem;
    }
}

.contact-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(196, 196, 196, 0.4);
    max-height: 100vh;
    overflow: scroll;
    // display: none;
    transform: scale(0);
    &.visible {
        // display: block;
        transform: scale(1);
    }
    form {
        background-color: #DB8876;
        width: 700px;
        max-width: 100%;
        margin: 80px auto 0;
        padding: 0 30px 30px;
        border-radius: 6px;
        transform: scale(0.8);
        transform-origin: top;
        header {
            display: flex;
            padding-top: 30px;
            margin-bottom: 20px;
            h2 {
                flex: 1 1 auto;
                margin: 0;
                font-weight: inherit;
                @media screen and (max-width: 600px) {
                    font-size: 24px;
                }
            }
            .btn {
                flex: 0 0 auto;
                color: white;
                background-color: transparent;
                font-weight: inherit;
            }
        }
        .input-group:not(:last-child) {
            margin: 30px 0;
        }
        label {
            display: inline-block;
            width: 100%;
            color: rgb(56, 56, 56);
            margin-bottom: 5px;
        }
        input,
        textarea {
            width: 100%;
            height: 6.5rem;
        }
        textarea {
            height: 20rem;
            overflow: visible;
            resize: vertical;
        }
        input[type="submit"] {
            width: auto;
            height: 6rem;
            line-height: 6rem;
        }
    }
}

input,
textarea {
    border-radius: 5px;
    border: none;
    padding: 15px 60px 15px 15px;
    font-size: 2rem;
    box-sizing: border-box !important;
    &[data-invalid="true"] {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='red'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/%3E%3C/svg%3E") no-repeat top 50% right 15px;
        background-color: white;
        background-size: 30px;
        border: 2px solid red;
        background-position: top 15px right 15px;
    }
}
.field-error {
    color: red;
    visibility: hidden;
    margin-top: 0.5rem;
}
