@use '../variables' as *;

.btn {
    display: inline-block;
    border: none;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 0;
    padding: 0 1.8rem;
    border-radius: 0.5rem;
    height: 7rem;
    line-height: 7rem;
    font-weight: 700;

    transition:
        color 150ms ease-in-out,
        background-color 150ms ease-in-out,
        border-color 150ms ease-in-out;

    &:focus {
        outline: 2px solid black;
        outline-offset: 0;
    }

    &-primary {
        color: white;
        background-color: $color-primary;

        &:hover,
        &:focus {
            color: black;
            background-color: $color-secondary;
        }
    }

    &-tag {
        color: $color-primary;
        background-color: white;
        height: 2.2rem;
        line-height: 2.1rem;
        border-radius: 1.1rem;
        border: 0.05rem solid #C4C4C4;
        padding: 0 0.6rem;
        font-size: 1.2rem;

        &:hover,
        &:focus {
            color: white;
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }

    &-like {
        display: inline-flex;
        align-items: center;
        height: 3rem;
        line-height: 3.5rem;
        padding: 0 0.8rem;
        margin: 0 -0.8rem;
        color: $color-primary;
        background-color: transparent;
        span {
            font-size: 2.4rem;
            margin-right: 0.8rem;
        }
        svg {
            height: 1.8rem;
            fill: currentColor;
        }
        &:hover {
            color: $color-secondary;
        }
    }
}
