@use '../variables' as *;
@use 'sass:math';

.btn {
    display: inline-block;
    border: none;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 0;
    padding: 0 1.8rem;
    border-radius: 0.5rem;
    height: 7rem;
    line-height: 7rem;
    font-weight: 700;

    transition:
        color 150ms ease-in-out,
        background-color 150ms ease-in-out,
        border-color 150ms ease-in-out;

    &:focus {
        outline: 2px solid black;
        outline-offset: 0;
    }

    &-primary {
        color: white;
        background-color: $color-primary;

        &:hover,
        &:focus {
            color: black;
            background-color: $color-secondary;
        }
    }

    &-tag {
        color: $color-primary;
        background-color: white;
        height: 2.2rem;
        line-height: 2.1rem;
        border-radius: 1.1rem;
        border: 0.05rem solid #C4C4C4;
        padding: 0 0.6rem;
        font-size: 1.2rem;
        text-transform: capitalize;

        &:hover,
        &:focus,
        &.active {
            color: white;
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }

    &-like {
        display: inline-flex;
        align-items: center;
        font-size: 1em;
        height: 1.25em;
        line-height: 1.25em;
        padding: 0;
        margin: 0 -0.25em;
        color: $color-primary;
        background-color: transparent;
        font-weight: 500;
        span {
            font-size: 1em;
            margin: 0 0.25em;
        }
        svg {
            font-size: 1em;
            height: 0.75em;
            fill: currentColor;
            margin-right: (1em / 3);
        }
        &:hover {
            color: $color-secondary;
        }
        &:active {
            outline: none;
        }
        &[disabled] {
            color: gray;
        }
    }
}
