@use 'variables' as *;

$font-sizes: (
    9: 0.9rem,
    10: 1rem,
    13: 1.3rem,
    18: 1.8rem,
    24: 2.4rem,
    36: 3.6rem,
    48: 4.8rem,
    64: 6.4rem,
);

.text-primary {
    color: $color-primary;
}

.text-secondary {
    color: $color-secondary;
}

.text-midgray {
    color: $color-midgray;
}

@each $n, $size in $font-sizes {
    .fs-#{$n} {
        font-size: $size;
    }
}

.fw-normal {
    font-weight: 400;
}

.fw-bold {
    font-weight: 500;
}

.m-0 {
    margin: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.px-2 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.rfs-1 {
    font-size: 1em;
}

.nowrap {
    white-space: nowrap;
}
